.login {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

input {
    padding: 5px 5px;
    margin: 10px;
}




button:hover {
    cursor: pointer;
}

.btn {
    margin-left: 15px;
    padding: 10px, 5px;
    background-color: skyblue;
    margin: 5px;
    display: flex;
    justify-content: center;
}

